html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Poppin', system-ui, Arial, Helvetica, sans-serif;
}

.text
{
    font-size: 26px;
}

.large-text
{
    font-size: 31px;
}

.bold
{
    font-weight: bold;
}

.img-smaller
{
    width: 128px;
    height: 128px;
}

